{{#if posts.length}}
  <h2>All Posts</h2>
  <ul>
    {{#each posts}}
      <li>
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
        <p>
          <span style="font-size: 10px;">Posted By </span>
          <strong style="font-size: 13px;">{{this.user.username}}</strong>
          <span style="font-size: 9px;">{{moment this.created_at }}</span>
        </p>


      </li>
    {{/each}}
  </ul>
{{else}}
  <p>You don't have any posts yet. Create one!</p>
{{/if}}